<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/style.min.css">
    
    <!-- Useful meta tags -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="index, follow">
    <meta name="google" content="notranslate">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="">
    
    <title>Компания ООО &quot;СПС-Сервис&quot; — поставщик оборудования КИПиА для предприятий и организаций регионов России и Ближнего Зарубежья.</title>
</head>

<body>

<div class="page">
    <!-- Header -->
    <div class="page__container">
        <div class="page__holder">
            <div class="fixed_header">
                <div class="container fixed_header__container">
                    <div class="header_top__menu menu_vertical fixed_header__vertical_menu">
                        <div class="menu-menyu-sverhu-container"><ul id="menu-menyu-sverhu" class="menu_vertical__list"><li id="menu-item-96" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-96"><a href="o-kompanii/index.htm">О компании</a></li>
    <li id="menu-item-95" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-95"><a href="kak-zakazat/index.htm">Как заказать</a></li>
    <li id="menu-item-94" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-94"><a href="dostavka/index.htm">Доставка</a></li>
    <li id="menu-item-93" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-93"><a href="oplata/index.htm">Оплата</a></li>
    <li id="menu-item-92" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-92"><a href="otzyvy/index.htm">Отзывы</a></li>
    <li id="menu-item-91" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-91"><a href="kontakty/index.htm">Контакты</a></li>
    </ul></div>                </div>
                    <div class="fixed_header__callbacks">
                        <div class='fixed_header__phones'>
                            <div class="fixed_header__phones-item">
                                <a href="tel:+74951367499">
                                    +7 (4872) 71-64-86                            </a>
                            </div>
                            <div class="fixed_header__phones-item">
                                <a href="tel:+74872500555">
                                    +7 (495) 136-74-99                            </a>
                            </div>
                            <span>
    								<i class="fas fa-caret-down"></i>
                            </span>
                        </div>
                        <a href="#modal_callback" class="callback_link js-modal_form_trigger"><span>Заказать звонок</span></a>
                    </div>
                    <div class="mini_cart fixed_header__mini_cart">
                        <a href="cart/index.htm" class="mini_cart__link">
                            <span class="mini_cart__label">
                                Ваша корзина
                            </span>
                            <span class="mini_cart__price">
                                пуста                        </span>
                        </a>
                    </div>
                </div>
            </div>
    
    <header class="page__header">
        <div class="header_top">
            <div class="container header_top__container">
                <div class="header_top__menu menu_vertical">
                    <div class="menu-menyu-sverhu-container"><ul id="menu-menyu-sverhu-1" class="menu_vertical__list"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-96"><a href="o-kompanii/index.htm">О компании</a></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-95"><a href="kak-zakazat/index.htm">Как заказать</a></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-94"><a href="dostavka/index.htm">Доставка</a></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-93"><a href="oplata/index.htm">Оплата</a></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-92"><a href="otzyvy/index.htm">Отзывы</a></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-91"><a href="kontakty/index.htm">Контакты</a></li>
    </ul>
                    </div>                    
                </div>
                <div class="header_top__address">
                        <span class="header_top__address-label">
                            Адрес:
                        </span>
                    г. Томск, Елизаровых, д.51                    
                </div>
                <div class="header_top__socials">
    <a href="https://vk.com/mossteelservice" target="_blank"><i class="fab fa-vk"></i></a>
    <a href="https://www.facebook.com/%D0%9C%D0%BE%D1%81%D0%A1%D1%82%D0%B0%D0%BB%D1%8C%D0%A1%D0%B5%D1%80%D0%B2%D0%B8%D1%81-104144017943970" target="_blank"><i class="fab fa-facebook-f"></i></a>
     <a href="https://www.instagram.com/mossteelservice/" target="_blank"><i class="fab fa-instagram"></i></a>
                                                                    </div>
            </div>
        </div>
        <div class="header_bottom">
            <div class="container header_bottom__container">
                <div class="header_bottom__top">
                    <div class="logo header_bottom__logo">
                        <a href="index.htm" class="logo__link">
                            <div class="logo__top">
                                СПС-Сервис
                            </div>
                            <div class="logo__center">
                                Комплексные<span class="logo__center-steel">Поставки</span>
                            </div>
                            <div class="logo__bottom">
                                Интернет-магазин металлопроката
                            </div>
                        </a>
                    </div>
                    <div class="header_bottom__phones phones_info">
                        <div class="header_bottom__phones-left">
                            <div class="phones_info__worktime">
                                пн-пт: с 9:00 до 19:00                                </div>
                            <div class="phones_info__phone">
                                                                    <a href="tel:+74872716486">
                                    +7 (4872) 71-64-86                                    </a>
                            </div>
                            <div class="phones_info__phone">
                                                                    <a href="tel:+74951367499">
                                    +7 (495) 136-74-99                                    </a>
                            </div>
                        </div>
                        <div class="header_bottom__phones-right">
                            <div class="phones_info__callback">
                                <a href="#modal_callback" class="callback_link js-modal_form_trigger"><span>Заказать звонок</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="header_bottom__socials">
                                                                                            <a href="https://vk.com/mossteelservice" target="_blank"><i class="fab fa-vk"></i></a>
                                                                <a href="https://www.facebook.com/%D0%9C%D0%BE%D1%81%D0%A1%D1%82%D0%B0%D0%BB%D1%8C%D0%A1%D0%B5%D1%80%D0%B2%D0%B8%D1%81-104144017943970" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                                                <a href="https://www.instagram.com/mossteelservice/" target="_blank"><i class="fab fa-instagram"></i></a>
                                                                                </div>
                </div>
                <div class="header_bottom__menu_trigger">
                    Меню
                </div>
                <div class="header_bottom__search">
                    <div class="header_bottom__search-trigger"></div>
                    <form role="search" method="get" class="search" action="https://mossteelservice.ru/">
                        <input type="text" class="search__input" id="woocommerce-product-search-field-0" class="search-field" placeholder="Поиск по товарам&hellip;" value="" name="s">
                        <button class="search__submit" type="submit" value="Поиск"></button>
                        <input type="hidden" name="post_type" value="product">
                    </form>
    <!--                        <form action="" class="search">-->
    <!--                            <input type="text" class="search__input" placeholder="Поиск по сайту">-->
    <!--                            <button class="search__submit"></button>-->
    <!--                        </form>-->
                </div>
                <div class="header_bottom__cart">
                    <div class="mini_cart">
                        <a href="cart/index.htm" class="mini_cart__link" onclick="ym(62025733,'reachGoal','cart'); true;">
                                <span class="mini_cart__label">
                                    Ваша корзина
                                </span>
                            <span class="mini_cart__price">
                                    пуста								</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <section class="page__sidebar--sm">
            <nav class="main_nav page__sidebar-nav">
                <ul class="main_nav__list js--main_menu_mobile">
                    <li class="main_nav__item main_nav__item--parent main_nav__item--catalog" data-level="1">
                        <div class="main_nav__item-top">
                            <a href="#" class="main_nav__link">Каталог продукции</a>
                            <span class="main_nav__trigger"></span>
                        </div>
                        <ul class="main_nav__submenu1">
                    
                            <li class="main_nav__submenu1-item main_nav__submenu1-item--parent " data-level="2">
                                <div class="main_nav__submenu1-item-top">
                                    <a href="product-category/armatura/index.htm" style="background-image:url(wp-content/uploads/2020/03/cat1.png)">
                                        Арматура                                </a>
                                                                        <span class="main_nav__trigger"></span>
                                                                </div>
        
                                                                    <ul class="main_nav__submenu2">
                                        
                                            <li class="main_nav__submenu2-item">
                                                <a href="product-category/armatura/armatura-riflyonaya/index.htm">
                                                    Арматура рифлёная                                            </a>
                                            </li>
        
                                            
                                            <li class="main_nav__submenu2-item">
                                                <a href="product-category/armatura/armatura-gladkaya/index.htm">
                                                    Арматура гладкая                                            </a>
                                            </li>
        
                                                                            </ul>
                                        
                            </li>
        
        
                            
                            <li class="main_nav__submenu1-item main_nav__submenu1-item--parent " data-level="2">
                                <div class="main_nav__submenu1-item-top">
                                    <a href="product-category/katanka/index.htm" style="background-image:url(wp-content/uploads/2020/03/cat2.png)">
                                        Катанка                                </a>
                                                                </div>
        
                                    
                            </li>
        
        
                            
                            <li class="main_nav__submenu1-item main_nav__submenu1-item--parent " data-level="2">
                                <div class="main_nav__submenu1-item-top">
                                    <a href="product-category/ugolok-stalnoj/index.htm" style="background-image:url(wp-content/uploads/2020/03/cat3.png)">
                                        Уголок стальной                                </a>
                                                                </div>
        
                                    
                            </li>
        
        
                            
                            <li class="main_nav__submenu1-item main_nav__submenu1-item--parent " data-level="2">
                                <div class="main_nav__submenu1-item-top">
                                    <a href="product-category/shveller/index.htm" style="background-image:url(wp-content/uploads/2020/03/cat4.png)">
                                        Швеллер                                </a>
                                                                </div>
        
                                    
                            </li>
        
        
                            
                            <li class="main_nav__submenu1-item main_nav__submenu1-item--parent " data-level="2">
                                <div class="main_nav__submenu1-item-top">
                                    <a href="product-category/truba-vgp/index.htm" style="background-image:url(wp-content/uploads/2020/03/cat5.png)">
                                        Труба ВГП                                </a>
                                                                </div>
        
                                    
                            </li>
        
        
                            
                            <li class="main_nav__submenu1-item main_nav__submenu1-item--parent " data-level="2">
                                <div class="main_nav__submenu1-item-top">
                                    <a href="product-category/truba-profilnaya/index.htm" style="background-image:url(wp-content/uploads/2020/03/cat6.png)">
                                        Труба профильная                                </a>
                                                                </div>
        
                                    
                            </li>
        
        
                                                </ul>
                    </li>
        
                    <li class="main_nav__item"><div class="main_nav__item-top"><a class="main_nav__link" href="o-kompanii/index.htm" data-level="1">О компании</a></div></li><li class="main_nav__item"><div class="main_nav__item-top"><a class="main_nav__link" href="kak-zakazat/index.htm" data-level="1">Как заказать</a></div></li><li class="main_nav__item"><div class="main_nav__item-top"><a class="main_nav__link" href="dostavka/index.htm" data-level="1">Доставка</a></div></li><li class="main_nav__item"><div class="main_nav__item-top"><a class="main_nav__link" href="oplata/index.htm" data-level="1">Оплата</a></div></li><li class="main_nav__item"><div class="main_nav__item-top"><a class="main_nav__link" href="otzyvy/index.htm" data-level="1">Отзывы</a></div></li><li class="main_nav__item"><div class="main_nav__item-top"><a class="main_nav__link" href="kontakty/index.htm" data-level="1">Контакты</a></div></li>            </ul>
            </nav>
            <div class="page__sidebar-phones phones_info">
                <div class="phones_info__worktime">
                    пн-пт: с 9:00 до 19:00            </div>
                <div class="phones_info__phone">
                                    <a href="tel:+74872716486">
                       +7 (4872) 71-64-86                </a>
                </div>
                <div class="phones_info__phone">
                                    <a href="tel:+74872716486">
                        +7 (495) 136-74-99                </a>
                </div>
                <div class="phones_info__callback">
                    <a href="#modal_callback" class="callback_link js-modal_form_trigger"><span>Заказать звонок</span></a>
                </div>
            </div>
            <div class="page__sidebar-location">
                <span class="page__sidebar-location-label">Адрес:</span> г. Тула, Торховский проезд, д.6/1        </div>
            <div class="page__sidebar-social_media">
                                                    <a href="https://vk.com/mossteelservice" target="_blank"><i class="fab fa-vk"></i></a>
                                        <a href="https://www.facebook.com/%D0%9C%D0%BE%D1%81%D0%A1%D1%82%D0%B0%D0%BB%D1%8C%D0%A1%D0%B5%D1%80%D0%B2%D0%B8%D1%81-104144017943970" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                        <a href="https://www.instagram.com/mossteelservice/" target="_blank"><i class="fab fa-instagram"></i></a>
                                        </div>
            <div class="menu__close"></div>
        </section>
    </header>

    <!-- Main -->

    <main class="main">
        <div class="container">
            <section class="top_slider slider--styled">                
                <div class="top_slider__slider">
                    <div class="top_slider__item" style="background-image: url(static/img/Slide1.png)">
                        <div class="top_slider__title">
                            <div class="top_slider__title-badge"></div>
                            <h1 class="top_slider__title">Манометры<br>по цене производителя</h1>                                    </div>
                        <div class="top_slider__text">
                            Прямые оптовые и розничные поставки                                    </div>
                        <div class="top_slider__button">
                            <a href="o-kompanii/index.htm" class="btn btn--plus">подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="top_slider__slider">
                    <div class="top_slider__item" style="background-image: url(static/img/Slide1.png)">
                        <div class="top_slider__title">
                            <div class="top_slider__title-badge"></div>
                            Российское <br>производство                                    </div>
                        <div class="top_slider__text">
                            Вся продукция подтверждена <br> Минпромторгом России                                    </div>
                        <div class="top_slider__button">
                            <a href="product-category/katanka/index.htm" class="btn btn--plus">в каталог</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="catalog_categories">
                {% for category in categories %}
                <div class="catalog_categories__item">
                    <a href="{% url 'myshop:product_list_by_category' category.slug %}" class="catalog_categories__inner">
                <span class="catalog_categories__name">
                    {{ category.title }}							</span>
                        <span class="catalog_categories__price">
                    от 10 руб			{{ category.price }}		</span>
                        <img src="static/img/1.png" alt="Товар" class="catalog_categories__image">
                        <span class="catalog_categories__btn plus_btn"></span>
                    </a>
                </div>
                {% endfor %}
            </section>
            
                            <section class="why_we">
                                <div class="why_we__heading">
                                    Почему выбирают нас                    </div>
                                <div class="why_we__advantages">
            
                                                                    <div class="why_we__item">
                                                <div class="why_we__image">
            									<span class="why_we__image-holder">
            										<img src="wp-content/uploads/2020/03/whywe1.png" alt="" class="why_we__image-picture">
            									</span>
                                                </div>
                                                <div class="why_we__text">
                                                    <div class="why_we__title">
                                                        Собственное производство                                        </div>
                                                    <div class="why_we__description">
                                                        Мы работаем без посредников, что значительно сокращает сроки и стоимость поставок.                                        </div>
                                                </div>
                                            </div>
            
                                                                        <div class="why_we__item">
                                                <div class="why_we__image">
            									<span class="why_we__image-holder">
            										<img src="wp-content/uploads/2020/03/whywe2.png" alt="" class="why_we__image-picture">
            									</span>
                                                </div>
                                                <div class="why_we__text">
                                                    <div class="why_we__title">
                                                        Прямые поставки от производителя                                        </div>
                                                    <div class="why_we__description">
                                                        Оперативная отправка грузов в любую точку страны, напрямую от производителя.                                        </div>
                                                </div>
                                            </div>
            
                                                                        <div class="why_we__item">
                                                <div class="why_we__image">
            									<span class="why_we__image-holder">
            										<img src="wp-content/uploads/2020/03/whywe3.png" alt="" class="why_we__image-picture">
            									</span>
                                                </div>
                                                <div class="why_we__text">
                                                    <div class="why_we__title">
                                                        Доставка в срок, по всей России                                        </div>
                                                    <div class="why_we__description">
                                                        Собственный  автопарк позволяет осуществлять доставку в короткие сроки.                                        </div>
                                                </div>
                                            </div>
            
                                                                        <div class="why_we__item">
                                                <div class="why_we__image">
            									<span class="why_we__image-holder">
            										<img src="wp-content/uploads/2020/03/whywe4.png" alt="" class="why_we__image-picture">
            									</span>
                                                </div>
                                                <div class="why_we__text">
                                                    <div class="why_we__title">
                                                        Гарантия качества продукции                                        </div>
                                                    <div class="why_we__description">
                                                        Каждая партия металлопроката проходит жесткий контроль качества и обязательную сертификацию.                                        </div>
                                                </div>
                                            </div>
            
                                                                        <div class="why_we__item">
                                                <div class="why_we__image">
            									<span class="why_we__image-holder">
            										<img src="wp-content/uploads/2020/03/whywe5.png" alt="" class="why_we__image-picture">
            									</span>
                                                </div>
                                                <div class="why_we__text">
                                                    <div class="why_we__title">
                                                        Гибкое ценообразование                                        </div>
                                                    <div class="why_we__description">
                                                        Полный ассортимент манометров по выгодным ценам от производителя.                                        </div>
                                                </div>
                                            </div>
            
                                                                        <div class="why_we__item">
                                                <div class="why_we__image">
            									<span class="why_we__image-holder">
            										<img src="wp-content/uploads/2020/03/whywe6.png" alt="" class="why_we__image-picture">
            									</span>
                                                </div>
                                                <div class="why_we__text">
                                                    <div class="why_we__title">
                                                        Удобные способы оплаты                                        </div>
                                                    <div class="why_we__description">
                                                        Более 10 способов оплаты, также возможны кредит и рассрочка.                                        </div>
                                                </div>
                                            </div>
            
                                                        </div>
                                                    </section>
            
                                                </section>
                                                <section class="main_page_delivery" style="background: #323853 url(static/img/main_page_delivery.png) left -93px no-repeat;">
                                                    <div class="main_page_delivery__title">
                                                        <h2>Манометры с доставкой по всей России</h2>
                                                    </div>
                                                    <div class="main_page_delivery__text">
                                                        Доставляем манометры по всей России. Быстро. Выгодно. Надёжно.                    </div>
                                                </section>
        </div>
    </main>

    <footer>
            <footer class="container">
                <div class="footer_top">
                    <div class="container footer_top__container">
                        <div class="footer_top__title">
            Металлопрокат от производителя с доставкой по всей России
            </div>
            <p>Поставки металлопроката осуществляются во все регионы России, но основной территорией продаж являются Тульская область и город Тула, где расположен складской комплекс компании. Складской комплекс компании МосСтальСервис оснащен современными высокоскоростными автоматическими станками правки и резки бухтовой арматуры и катанки в прутки длиной от 1 до 12 метров  наиболее востребованных среди потребителей диаметров.<br>
            Превосходное техническое оснащение и высокий уровень подготовки персонала позволяют предложить  нашим клиентам лучшее соотношение цены и качества поставляемой продукции. Будем рады видеть вас в числе наших постоянных клиентов!</p>
                    </div>
                </div>
                <div class="foooter_contacts">
                    <div class="container">
                        <div class="foooter_contacts__content">
                            <div class="foooter_contacts__title">
                                Нужна консультация?
                            </div>
                            <div class="foooter_contacts__requisites">
                                ИНН: 7017340953, КПП: 701701001                    </div>
                            <div class="foooter_contacts__item foooter_contacts__item--location">
                                <div class="foooter_contacts__item-top">
                                    пн-пт: с 9:00 до 19:00                        </div>
                                <div class="foooter_contacts__item-bottom">
                                    634012, г. Томск, Елизаровых, д.51                        </div>
                            </div>
                            <div class="foooter_contacts__item foooter_contacts__item--phone">
                                <div class="foooter_contacts__item-top">
                                    пн-пт: с 9:00 до 19:00                        </div>
                                <div class="foooter_contacts__item-bottom">
                                                                <a class="foooter_contacts__content-link" href="tel:+74872716486">+7 (4872) 71-64-86</a>
                                    <a href="#modal_callback" class="callback_link callback_link--no_bg js-modal_form_trigger"><span>Заказать звонок</span></a>
                                </div>
                            </div>
                            <div class="foooter_contacts__item foooter_contacts__item--mail">
                                <div class="foooter_contacts__item-top">
                                    e-mail
                                </div>
                                <div class="foooter_contacts__item-bottom">
                                    <a class="foooter_contacts__content-link" href="mailto:info@mossteelservice.ru">info@mossteelservice.ru</a>
                                </div>
                            </div>
                        </div>
                        <div class="foooter_contacts__map">
                            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A6076a9a256675b226f28ed8517458f9f38de3f9335bd6a9cd9e935b93b7ca970&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
                <div class="footer_bottom">
                    <div class="footer_bottom__nav">
                        <div class="container footer_bottom__nav-container">
                            <div class="footer_bottom__nav-menu">
                                <div class="menu-menyu-v-podvale-container">
                                    <ul id="menu-menyu-v-podvale" class="footer_menu_vertical__list"><li id="menu-item-85" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-85"><a href="o-kompanii/index.htm">О компании</a></li>
            <li id="menu-item-86" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86"><a href="kak-zakazat/index.htm">Как заказать</a></li>
            <li id="menu-item-87" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-87"><a href="dostavka/index.htm">Доставка</a></li>
            <li id="menu-item-88" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-88"><a href="oplata/index.htm">Оплата</a></li>
            <li id="menu-item-89" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-89"><a href="otzyvy/index.htm">Отзывы</a></li>
            <li id="menu-item-90" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-90"><a href="kontakty/index.htm">Контакты</a></li>
                                    </ul>
                                </div>                    
                            </div>       
                        </div>
                    </div>
                    <div class="footer_bottom__credits">
                        <div class="container footer_bottom__credits-container">
                            <div class="footer_bottom__credits-text">
                                © 2000-2022 ООО «МосСтальСервис» - интернет магазин металлопроката с доставкой по всей России                    </div>
                            <div class="footer_bottom__credits-cards">
                                <img src="../static/img/icons/mas.png" alt="">
                                <img src="../static/img/icons/mae.png" alt="">
                                <img src="../static/img/icons/mir.png" alt="">
                                <img src="../static/img/icons/visa.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
    </footer>
</div>
<!-- JS -->
<script src="static/js/app.js"></script>
</body>

</html>
